@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-CondensedThin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-CondensedLight.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-Condensed.woff2") format("woff2");
}

@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-CondensedBook.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-CondensedMedium.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-CondensedBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-CondensedBlack.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: Waldenburg;
  src: url("../fonts/KMRWaldenburg-CondensedHeavy.woff2") format("woff2");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img, video {
  width: 100%;
  display: block;
}

html {
  letter-spacing: 5%;
  color: var(--color-black);
  font-family: Waldenburg;
  font-size: 18px;
  font-weight: 100;
  line-height: 140%;
}

@media (width >= 768px) {
  html {
    font-size: 20px;
  }
}

h1.name-none {
  display: none;
}

h2 {
  text-transform: uppercase;
  width: 100%;
  margin: 1rem 0;
  font-size: 1.5rem;
}

h1, h2, h3 {
  font-family: Waldenburg;
  font-weight: 600;
  line-height: 100%;
}

:root {
  --color-black: #1e1c21;
  --color-gray: silver;
  --color-red: #bf1523;
  --color-white: #fffdf9;
}

html {
  background: var(--color-red);
}

body {
  background-color: var(--color-white);
  padding: 5rem 1rem 2rem;
}

header {
  background-color: var(--color-white);
  z-index: 30;
  width: 100%;
  padding: 1rem 1rem .5rem;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  background-color: var(--color-black);
  flex-direction: column;
  margin: 0 -1rem -2rem;
  padding: 2rem 1rem 0;
  display: flex;
}

section {
  padding-bottom: 3rem;
}

@media (width >= 1024px) {
  body {
    padding: 6rem 3rem 4rem;
  }

  footer {
    margin: 0 -3rem -4rem;
    padding: 4rem 3rem 0;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.top-bar svg {
  width: 230px;
  height: 100%;
}

@media (width >= 768px) {
  .top-bar svg {
    width: 350px;
  }
}

.menu-burger {
  flex-direction: column;
  gap: .25rem;
  width: 2rem;
  height: 1.2rem;
  display: flex;
}

button.menu-burger {
  cursor: pointer;
  background: none;
  border: none;
}

.menu-burger div {
  background-color: var(--color-black);
  z-index: 1;
  width: 2rem;
  height: .2rem;
  transition: transform .3s, opacity .3s;
}

.menu-mobile {
  color: var(--color-white);
  background-color: var(--color-red);
  opacity: 0;
  pointer-events: none;
  padding-bottom: 7rem;
  transition: transform .3s;
  position: absolute;
  inset: 0;
  transform: translateX(100%);
}

nav.menu-mobile {
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
  display: flex;
}

.menu-mobile h2, .menu-mobile a {
  font-weight: 800;
  text-decoration: none;
}

.menu-mobile li {
  border-bottom: .5px solid var(--color-white);
  width: 80vw;
  padding: 1.2rem;
  list-style-type: none;
}

li.menu-taxonomy {
  text-transform: uppercase;
  padding: 2rem 1.2rem;
  font-family: Waldenburg;
  font-size: 1rem;
  font-weight: 600;
}

.menu-mobile.is-active {
  opacity: 1;
  pointer-events: auto;
  height: 100vh;
  overflow-y: scroll;
  transform: translateX(0);
}

.menu-burger.is-active div:first-child {
  background-color: var(--color-white);
  transform: translateY(8px)rotate(45deg);
}

.menu-burger.is-active div:nth-child(2) {
  opacity: 0;
  transform: translateX(100%);
}

.menu-burger.is-active div:nth-child(3) {
  background-color: var(--color-white);
  transform: translateY(-8px)rotate(-45deg);
}

.accordion {
  flex-direction: column;
  padding: 3rem 0;
  display: flex;
}

.accordion-item {
  height: 0;
  overflow: hidden;
}

.accordion-item-open {
  height: auto;
  margin-top: .5rem;
}

.accordion-item a {
  justify-content: space-between;
  align-items: flex-end;
  gap: .5rem;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
}

.accordion-item-open svg {
  flex-shrink: 0;
  width: 1.5rem;
}

section.month-hero {
  margin: 0 -1rem;
}

.month-hero a {
  background-image: url("../img/month_feminisme-modern.jpg");
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6rem 0 2rem;
  text-decoration: none;
  display: flex;
}

.month-hero div {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.month-hero h3 {
  text-transform: initial;
  margin: 0;
  font-size: 2rem;
  line-height: 100%;
}

.month-hero h3, .month-hero p {
  color: var(--color-white);
  background-color: var(--color-red);
  width: fit-content;
  padding: .5rem 1rem;
}

@media (width >= 768px) {
  .month-hero a {
    padding: 12rem 0 2rem;
  }
}

@media (width >= 1024px) {
  .month-hero a {
    padding: 18rem 0 2rem;
  }

  section.month-hero {
    margin: 0 -3rem;
  }
}

@media (width >= 1500px) {
  .month-hero a {
    padding: 24rem 0 2rem;
  }
}

article.card {
  border: 1px solid var(--color-black);
  padding: 1rem .75rem;
}

.cards-library {
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.card {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  font-size: .75rem;
  line-height: 120%;
  display: flex;
}

.card a {
  text-underline-offset: 2px;
}

.card h2 {
  text-transform: initial;
  width: 100%;
  margin: 0 0 .25rem;
  font-size: 1rem;
}

.card address {
  font-style: normal;
}

.card-infos {
  color: var(--color-gray);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.card-infos div {
  gap: .5rem;
  display: flex;
}

.card-container {
  flex-direction: row;
  gap: 1rem;
  display: flex;
}

.card-picture-placeholder {
  background-color: var(--color-gray);
  height: 100%;
}

.card-picture {
  width: 50%;
  height: 8rem;
  position: relative;
  overflow: hidden;
}

svg.card-article-type {
  filter: drop-shadow(1px 4px 4px #000);
  z-index: 1;
  width: fit-content;
  height: 1.5rem;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.card-picture img {
  object-fit: cover;
  filter: grayscale();
  width: 100%;
  height: 100%;
  transition: filter .3s;
}

.card:hover .card-picture img {
  filter: grayscale(0);
}

.card-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  display: flex;
}

.card-content div {
  width: 100%;
}

.card-content p {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

@media (width >= 768px) {
  .cards-library {
    flex-flow: wrap;
    gap: .5rem;
  }

  .card {
    flex: 0 0 calc(33.3333% - 10px);
  }

  .card-container {
    flex-direction: column;
  }

  .card-picture {
    order: -1;
    width: 100%;
  }

  .card-content {
    justify-content: flex-start;
    gap: 1rem;
  }
}

.support-title-desktop {
  display: none;
}

.support-picture {
  background-image: url("../img/example.jpg");
  background-position: center;
  background-size: cover;
  width: auto;
  min-height: 16rem;
}

.support-content {
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
}

.support-btn {
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  display: flex;
}

.support-btn .btn {
  text-align: center;
  flex-shrink: 0;
  width: 100%;
}

@media (width >= 768px) {
  .support {
    flex-direction: row;
    gap: 1rem;
    display: flex;
  }

  .support-picture {
    width: 70rem;
    min-height: auto;
  }

  .support-title-mobile {
    display: none;
  }

  .support-title-desktop {
    display: block;
  }
}

@media (width >= 1024px) {
  .support-picture {
    width: 80rem;
    min-height: auto;
  }
}

.btn {
  border: 1px solid var(--color-black);
  width: fit-content;
  padding: .5rem 1rem;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-black);
}

.btn-secondary {
  color: var(--color-white);
  background-color: var(--color-red);
  border: 1px solid var(--color-white);
  font-weight: bold;
}

.btn:hover, .btn-primary:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  border-color: var(--color-red);
  font-family: Waldenburg;
  font-weight: 600;
  transform: scale(1.02);
}

.btn-secondary:hover {
  color: var(--color-red);
  background-color: var(--color-white);
  font-family: Waldenburg;
  font-weight: 600;
  transform: scale(1.2);
}

.contact {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.contact .btn {
  text-align: center;
  width: 100%;
  max-width: 768px;
}

@media (width >= 768px) {
  .contact {
    width: 768px;
  }
}

.about {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(8, 1fr);
  place-items: end start;
  gap: 1rem;
  display: grid;
}

.about h2 {
  margin-top: 0;
}

.about div {
  grid-area: 1 / 1 / 3 / 6;
}

#about-ig {
  grid-area: 1 / 6 / 4 / 9;
}

#about-ytb {
  grid-area: 4 / 1 / 6 / 9;
}

@media (width >= 470px) {
  .about div {
    grid-area: 1 / 1 / 2 / 6;
  }

  #about-ytb {
    grid-area: 2 / 1 / 4 / 6;
  }
}

@media (width >= 768px) {
  .about div {
    grid-column: 1 / 5;
  }

  #about-ig {
    grid-area: 1 / 7 / 4 / 9;
  }

  #about-ytb {
    grid-column: 3 / 7;
  }
}

@media (width >= 1024px) {
  .about div {
    grid-column: 1 / 4;
  }

  #about-ytb {
    grid-column: 4 / 7;
  }
}

.filters form {
  flex-wrap: wrap;
  gap: .5rem;
  width: 100%;
  display: flex;
}

.card.hide, input[type="radio"] {
  display: none;
}

label.filter-label {
  cursor: pointer;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  padding: .5rem 1rem;
  display: inline-block;
}

.filter-label:hover {
  border: 2px solid var(--color-red);
  color: var(--color-red);
  font-family: Waldenburg;
  font-weight: 600;
}

input[type="radio"]:checked + .filter-label {
  background: var(--color-red);
  border: 2px solid var(--color-red);
  color: var(--color-white);
  font-family: Waldenburg;
  font-weight: 600;
}

.closer div {
  border-left: 1px solid var(--color-black);
  padding: 1rem;
}

.closer h2 {
  margin-bottom: 1.5rem;
}

.closer h3 {
  margin-bottom: .5rem;
}

.closer li {
  margin-bottom: 1rem;
  list-style-type: none;
}

.closer span {
  text-underline-offset: 2.5px;
  text-decoration: underline;
}

.article-hero {
  object-fit: cover;
  object-position: center;
  height: 300px;
  margin-bottom: 3rem;
  overflow: hidden;
}

.article h1 {
  color: var(--color-red);
  margin: 2rem 0;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 100%;
  display: block;
}

h1.article-taxonomy {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}

.article-content p {
  margin-bottom: 1.5rem;
}

p.article-quote {
  color: var(--color-red);
  padding: 1rem 0;
  font-family: Waldenburg;
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
}

.article .article-author span {
  text-underline-offset: 2.5px;
  text-decoration: underline;
}

.article-infos {
  flex-direction: column;
  display: flex;
}

p.article-info {
  color: var(--color-gray);
  margin: 0;
}

.article-infos-position-two {
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  margin-bottom: 3rem;
  display: grid;
}

.article-infos-position-two div {
  flex-direction: column;
  grid-column: 1 / 4;
  display: flex;
}

.article-infos-position-two img {
  grid-column: 4 / 6;
}

.article-hook {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 110%;
}

@media (width >= 768px) {
  .article h1 {
    font-size: 3rem;
  }

  .article-infos-position-two div {
    grid-column: 1 / 3;
  }

  .article-hero {
    height: 500px;
  }
}

@media (width >= 1024px) {
  .article h1 {
    font-size: 4rem;
  }
}

.footer {
  color: var(--color-white);
}

.footer .card, .footer .card h2 {
  color: var(--color-black);
}

.footer .card {
  background-color: var(--color-white);
}

.footer-nav {
  flex-direction: column;
  gap: 2rem;
  display: flex;
}

.footer-nav ul {
  flex-flow: wrap;
  gap: .5rem 1rem;
  display: flex;
}

.footer li, .footer-nav a {
  text-decoration: none;
  list-style-type: none;
}

.footer-socials a {
  text-underline-offset: 2.5px;
}

.footer-credit {
  text-align: center;
  padding-bottom: 1rem;
  font-size: .75rem;
}
/*# sourceMappingURL=index.css.map */
